div.header1{
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 4px;
    color:#333;
    font-weight:bold;
    clear:both;
    float:left;
}

div.header2{
    color:#000;
    font-size: 12px;
    font-family:  sans-serif;
    margin-bottom: 4px;
    margin-left: 4px;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line circle {
    opacity: 0.4;
}